{% load static %}

<!DOCTYPE html>
<html lang="{{ page.lang }}">
<head>
    <meta charset="{{ page.charset }}">
    <title>{{ page.title }} {% block title %}{% endblock %}</title>

    {% comment %}<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css" integrity="sha256-rByPlHULObEjJ6XQxW/flG2r+22R5dKiAoef+aXWfik=" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">{% endcomment %}
    <link rel="stylesheet" href="{% static 'chemicaldb/jqueryui_1.12.1_jquery-ui.css' %}"/>
    <link rel="stylesheet" href="{% static 'chemicaldb/bootstrap_4.0.0_css_bootstrap.css' %}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="{% static 'chemicaldb/basic.css' %}">


    {% block stylesheet %}
    {% endblock %}
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}">
    {% block head %}
    {% endblock %}

</head>
<body>
<nav class="navbar navbar-expand-sm navbar-light bg-light">
    <a class="navbar-brand" href="#">{{ page.title }}</a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbar1">
        <span class="navbar-toggler-icon"></span>
    </button>


    <ul class="collapse navbar-collapse" id="navbar1">

        <ul class="navbar-nav mr-auto">
        </ul>
        <form id="search" method="POST" action="{% url 'chemicaldb:search' %}" class="search-form" role="search"
              style="position:relative;">
            {% csrf_token %}
            <input id="search_input" class="form-control" type="text" name="q"
                   placeholder="search"
                   style="padding-right: 50px;display: inline;font-size: 1.32rem;
                    height: 40px;
                    line-height: 40px;">
            <button style="position: absolute; right: 0px;background-color: transparent;border: 0;color: #8c8c8c;height: 40px;">
                <i class='material-icons text-black-secondary'>
                    search
                </i>
            </button>
        </form>
        <ul class="navbar-nav">
            <li class="nav-item dropdown">
                {% if user.is_authenticated %}
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                       aria-expanded="false">
                        Welcome {{ user }}
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLin1k">
                        <a class="dropdown-item" href="{% url 'chemicaldb:main' %}">Start</a>
                        <a class="dropdown-item" href="{% url 'chemicaldb:logout' %}">Logout</a>
                    </div>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'chemicaldb:login' %}">Login</a>
                    </li>
                    {% if page.registerable %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'accounts:register' %}">Register</a>
                        </li>
                    {% endif %}
                {% endif %}
        </ul>
    </ul>
</nav>
<div id="content" class="full_height container-fluid">
    <div class="row full_height">
        <div class="col-md-3  col-ld-2 sidebar" id="sidebar_left">
            {% block sidebar_left %}
            {% endblock %}
        </div>
        <div class="col-md-9 col-ld-10">
            <h5>{% block content_title %}

            {% endblock %}</h5>

            {% block content %}
            {% endblock %}
        </div>

    </div>
</div>


{% comment %}<script src="https://code.jquery.com/jquery-3.5.0.min.js" integrity="sha256-xNzN2a4ltkB44Mc/Jz3pT4iU1cmeR0FkXs4pru/JxaQ=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script>{% endcomment %}
<script src="{% static 'chemicaldb/jquery-3.5.0.js' %}"></script>
<script src="{% static 'chemicaldb/popper.js_1.12.9_umd_popper.js' %}"></script>
<script src="{% static 'chemicaldb/bootstrap_4.0.0_js_bootstrap.js' %}"></script>
<script src="{% static 'chemicaldb/jqueryui_1.12.1_jquery-ui.js' %}"></script>

<script>
    $('.dropdown-submenu > a').on("click", function (e) {
        var submenu = $(this);
        $('.dropdown-submenu .dropdown-menu').removeClass('show');
        submenu.next('.dropdown-menu').addClass('show');
        e.stopPropagation();
    });

    $('.dropdown').on("hidden.bs.dropdown", function () {
        // hide any open menus when parent closes
        $('.dropdown-menu.show').removeClass('show');
    });
</script>


<style>
    .ui-autocomplete-category {
        font-weight: bold;
        padding: .2em .4em;
        margin: .8em 0 .2em;
        line-height: 1.5;
    }

    .ui-autocomplete {
        max-height: 100px;
        overflow-y: auto;
        /* prevent horizontal scrollbar */
        overflow-x: hidden;
    }

    /* IE 6 doesn't support max-height
     * we use height instead, but this forces the menu to always be this tall
     */
    * html .ui-autocomplete {
        height: 100px;
    }

</style>

<script>

    $.widget("custom.autocomplete_combobox", {
        _create: function () {
            this.wrapper = $("<span>")
                .addClass("custom-combobox")
                .insertAfter(this.element);

            this.element.hide();
            this._createAutocomplete();
            this._createShowAllButton();
        },

        _createAutocomplete: function () {
            var selected = this.element.children(":selected"),
                value = selected.val() ? selected.text() : "";

            this.input = $("<input>")
                .appendTo(this.wrapper)
                .val(value)
                .attr("title", "")
                .addClass("custom-combobox-input ui-widget ui-widget-content ui-state-default ui-corner-left")
                .autocomplete({
                    delay: 0,
                    minLength: 0,
                    source: $.proxy(this, "_source")
                })
                .tooltip({
                    classes: {
                        "ui-tooltip": "ui-state-highlight"
                    }
                });

            this._on(this.input, {
                autocompleteselect: function (event, ui) {
                    ui.item.option.selected = true;
                    $(this.element).change();
                    //this.element.val(ui.item.option.value)
                    this._trigger("select", event, {
                        item: ui.item.option
                    });
                },

                autocompletechange: "_removeIfInvalid"
            });
        },

        _createShowAllButton: function () {
            var input = this.input,
                wasOpen = false;

            $("<a>")
                .attr("tabIndex", -1)
                .attr("title", "Show All Items")
                .tooltip()
                .appendTo(this.wrapper)
                .button({
                    icons: {
                        primary: "ui-icon-triangle-1-s"
                    },
                    text: false
                })
                .removeClass("ui-corner-all")
                .addClass("custom-combobox-toggle ui-corner-right")
                .on("mousedown", function () {
                    wasOpen = input.autocomplete("widget").is(":visible");
                })
                .on("click", function () {
                    input.trigger("focus");

                    // Close if already visible
                    if (wasOpen) {
                        return;
                    }

                    // Pass empty string as value to search for, displaying all results
                    input.autocomplete("search", "");
                });
        },

        _source: function (request, response) {
            var matcher = new RegExp($.ui.autocomplete.escapeRegex(request.term), "i");
            response(this.element.children("option").map(function () {
                var text = $(this).text();
                if (this.value && (!request.term || matcher.test(text)))
                    return {
                        label: text,
                        value: text,
                        option: this
                    };
            }));
        },

        _removeIfInvalid: function (event, ui) {

            // Selected an item, nothing to do
            if (ui.item) {
                return;
            }

            // Search for a match (case-insensitive)
            var value = this.input.val(),
                valueLowerCase = value.toLowerCase(),
                valid = false;
            this.element.children("option").each(function () {
                if ($(this).text().toLowerCase() === valueLowerCase) {
                    this.selected = valid = true;
                    return false;
                }
            });

            // Found a match, nothing to do
            if (valid) {
                return;
            }

            // Remove invalid value
            this.input
                .val("")
                .attr("title", value + " didn't match any item")
                .tooltip("open");
            this.element.val("");
            this._delay(function () {
                this.input.tooltip("close").attr("title", "");
            }, 2500);
            this.input.autocomplete("instance").term = "";
        },

        _destroy: function () {
            this.wrapper.remove();
            this.element.show();
        }
    });


    $.widget("custom.catcomplete", $.ui.autocomplete, {
        _create: function () {
            this._super();
            this.widget().menu("option", "items", "> :not(.ui-autocomplete-category)");
        },
        _renderMenu: function (ul, items) {
            var that = this,
                currentCategory = "";
            $.each(items, function (index, item) {
                var li;
                if (item.category != currentCategory) {
                    ul.append("<li class='ui-autocomplete-category'>" + item.category + "</li>");
                    currentCategory = item.category;
                }
                li = that._renderItemData(ul, item);
                if (item.category) {
                    li.attr("aria-label", item.category + " : " + item.label);
                }
            });
        }
    });


    function get_api_search_results(params, callback) {
        $.get("{% url 'chemicaldb:api_search' %}", params, callback);
    }

    function api_search_result(param = {}) {
        return function (request, response) {
            param.q = request.term
            get_api_search_results(param, function (data) {
                let res = [];
                for (let i = 0; i < data.results.length; i++)
                    res.push({
                        label: data.results[i].__str__,
                        category: data.results[i].__name__,
                        value: data.results[i].pk
                    })
                response(res);
            });
        }
    }

    $(document).ready(function () {
        $("#search_input").catcomplete({
            source: api_search_result(),
            minLength: 3
        });
    });

    function new_window_close_on_post(href, callback = null) {
        let w = window.open(href, 'newwindow', 'width=500, height=500');
        w.addEventListener("load", function () {
            this.onunload = function () {
                this.close();
                if (callback)
                    callback();
            }

        }, false);

        return false
    }
</script>

{% block javascript %}
{% endblock %}

</body>
</html>