{% extends 'chemicaldb/base.html' %}
{% load static %}

{% block title %}
    chemicalDB
{% endblock %}

{% block content %}
    <div>
            <a class="imagebutton col-md-3 btn btn-primary" href="{% url 'chemicaldb:structures_main' %}">
                <div>
                    <img src="{% static 'chemicaldb/structure_button.svg' %}">
                </div>
                    <span>
                        Structures
                    </span>
            </a>

        <a class="imagebutton col-md-3 btn btn-primary" href="{% url 'chemicaldb:structures_main' %}">
            <div>
                <img src="{% static 'chemicaldb/powder.png' %}">
            </div>
            <span>
                Substances
            </span>
        </a>

        <a class="imagebutton  col-md-3 btn btn-primary" href="{% url "chemicaldb:experiments:main" %}">
            <div>
                <img src="{% static 'chemicaldb/experiments.svg' %}">
            </div>
            <span>
                Experiments
            </span>
        </a>
    </div>
{% endblock %}