{% extends 'chemicaldb/base.html' %}
{% load crispy_forms_tags %}


{% block title %}
    Structure
{% endblock %}

{% block content_title %}
    Structure
{% endblock %}

{% block content %}
    <div id="smiles_image"></div>
    <div id="validation_message"></div>
    {% crispy form %}
{% endblock %}

{% block javascript%}
    <script>
        let smiles_input = $('input[name="smiles"]');
        function validate_smiles(model={% if structure_model %}"{{ structure_model }}"{% else %}"chemicaldb.Structure"{% endif %}){
            $.get(
                "{% url "chemicaldb:smiles_checker" %}",
                { image_format:"svg",
                    validate:true,
                    smiles:smiles_input.val(),
                    model:model
                },
                function (data) {
                    let vm = $('#validation_message').empty();
                    if(data.success) {
                        $('#smiles_image').empty().append(data.img)
                    }else{
                        vm.append('<div class="alert alert-danger" role="alert">\n' +
                           data.reason +
                            '</div>')
                    }
                }
            )
        }
        smiles_input.on("input",function () {
            validate_smiles();
        });
        validate_smiles()
    </script>
{% endblock %}
