{% extends 'chemicaldb/base.html' %}
{% load crispy_forms_tags %}


{% block title %}
    New Polymer
{% endblock %}

{% block content_title %}
    Add Polymer
{% endblock %}

{% block content %}
    <div id="smiles_image"></div>

    {% crispy polymer_form %}
{% endblock %}

{% block javascript%}
    <script>
        $(function () {
        $('#id_polymer_structure').search_model_autocomplete({
            model:"PolymerStructure",
            value:{
                pk:{{intital_structure.pk}},
                text:"{{intital_structure}}",
                select:function () {

                },
            }
        });
        });
    </script>
{% endblock %}